<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
    <section class="layout-content" layout:fragment="corpo">

        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <i class="oi oi-caret-right"></i>
                        <span>Cadastrar Contrato</span>
                    </li>
                </ul>
            </div>
            <a class="btn btn-primary btn-md" th:href="@{/contratos/listar}" role="button">
                <span class="oi oi-spreadsheet"></span>
                <span>Listar Contratos</span>
            </a>
        </nav>

        <div class="container" id="cadastro">
            <div th:replace="fragments/alert"></div>

            <form th:action="${contrato.id == null} ? @{/contratos/salvar} : @{/contratos/editar}"
                  th:object="${contrato}" method="POST">
                <div th:replace="fragments/validacao :: validacao"></div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cliente">Cliente</label>
                        <select id="cliente" class="form-control" th:field="*{cliente}">
                            <option value="">Selecione</option>
                            <option th:each="c : ${clientes}"
                                    th:value="${c.id}" th:text="${c.nome}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dataInicio">Data de Início</label>
                        <input type="date" class="form-control" id="dataInicio" th:field="*{dataInicio}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dataFim">Data de Fim</label>
                        <input type="date" class="form-control" id="dataFim" th:field="*{dataFim}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="valorContrato">Valor do Contrato</label>
                        <input type="number" step="0.01" class="form-control" id="valorContrato" th:field="*{valorContrato}"/>
                    </div>
                </div>

                <input type="hidden" id="id" th:field="*{id}"/>
                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
            </form>
        </div>
    </section>
</body>
</html>
